{% extends 'pacientes/base.html' %}

{% block content %}
<div class="card shadow-sm">
    <div class="card-header">
        <h4 class="mb-0">Editar Paciente</h4>
    </div>
    <div class="card-body">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary mt-3">Actualizar Cambios</button>
            <a href="{% url 'detalle_paciente' form.instance.id %}" class="btn btn-secondary mt-3">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}