{% extends 'pacientes/base.html' %}

{% block content %}
<div class="col-md-6 offset-md-3">
    {% if servicio %}
        <h1 class="mb-4">Editar Servicio</h1>
    {% else %}
        <h1 class="mb-4">Añadir Nuevo Servicio</h1>
    {% endif %}
    
    <form method="post" class="card card-body bg-dark border-secondary">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="d-grid">
            {% if servicio %}
                <button type="submit" class="btn btn-primary mt-3">Actualizar Cambios</button>
            {% else %}
                <button type="submit" class="btn btn-primary mt-3">Guardar Servicio</button>
            {% endif %}
        </div>
    </form>
    <div class="text-center mt-3">
        <a href="{% url 'lista_servicios' %}" class="text-info">Volver a la lista</a>
    </div>
</div>
{% endblock %}